{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid" style="padding: 20px 5%; ">
    <table id="my-properties" class="table table-striped table-bordered display">
        <thead>
            <tr>
                <th>Property ID</th>
                <th>Added on</th>
                <th>Added by</th>
                <th>Field Remarks</th>
            </tr>
        </thead>
        <tbody>
            {% for r in all_properties %}
            <tr>
                <td><a href="/?propid={{ r.propid }}">{{ r.propid }}</a></td>
                <td>{{ r.addedon }}</td>
                <td>{{ r.user_email }}</td>
                <td>{{ r.fieldremarks }}</td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready( function () {
        $('#my-properties').DataTable({
            "columnDefs": [
                { "targets": [0, 1, 2, 3], "orderable": true }
            ]
        });
    });
</script>

{% endblock %}