{% extends 'base.html' %}
{% load static %}


{% block head %}

  {% include "./common/leaflet-includes-full.html" %}   
  
  <script type="text/javascript" src="{% static 'js/leafletLib.js' %}"></script>
  <link rel="stylesheet" href="{% static 'css/map.css' %}">
  <script type="text/javascript" src="{% static 'js/map-search.js' %}"></script>
{% endblock %}

{% block pagetitle %}
<div style="color: #2cc4db;" >
  Search
</div>
{% endblock %}

{% block content %}

<style>
  #content {
      width: 100%;
      padding: 20px;
      min-height: calc(100vh - 56px);
      transition: all 0.3s;
  }
  #mapCanvas{
    #top: 56px;
    bottom: 0;
    left: 0;
    right: 0;
    height: calc(100% - 100px);
    width: 100%;
    position: relative;
    cursor: crosshair;
  }
  .autocomplete-items {
    position: absolute;
    border: 1px solid #d4d4d4;
    #border-bottom: none;
    border-top: none;
    z-index: 9999;
    /*position the autocomplete items to be the same width as the container:*/
    top: 100%;
    #left: 0;
    #right: 0;
    margin-top: -8px;
    max-height: 70vh;
    overflow-y: scroll;
  }
  .autocomplete-items div {
    font-size: 11px;
    padding: 10px;
    cursor: pointer;
    background-color: #fff;
    border-bottom: 1px solid #d4d4d4;
    color: #333;
  }
  .autocomplete-items div:hover {
    /*when hovering an item:*/
    background-color: #e9e9e9;
  }
  .autocomplete-active {
    /*when navigating through the items using the arrow keys:*/
    background-color: DodgerBlue !important;
    color: #ffffff;
  }
  .autocomplete-items div.listbreak {
    padding: 2px;
    background-color: #6f42c1;
    text-align: center;
    color: white;
    cursor: default;
  }
  #wrapper {
    display: flex;
    width: 100%;
    height: calc(100vh - 56px);
    align-items: stretch;
  }
  #sidebar {
    min-width: 250px;
    max-width: 250px;
    min-height: calc( 100vh - 56px);
    padding: 20px;
    padding-right: 0;
  }

  #sidebar.active {
    margin-left: -250px;
  }

  @media (max-width: 768px) {
      #sidebar {
          margin-left: -250px;
      }
      #sidebar.active {
          margin-left: 0;
      }
  }
  .controlwrapper {
    padding: 10px;
    border: .5px solid white;
    border-radius: 4px;
    margin-top: 20px;
  }
  .btn-light{
    border: .5px solid lightgrey !important;
  }
</style>

<div id="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <div  style="background: #f8f9fa; height: 100%; padding: 10px;">
      <div id="navigationcontrols">
        <div class="head" style="position: sticky;">
        <h3> Controls
          <button type="button" id="sidebarCollapse" class="btn btn-light" onclick="togglesidebarcollapse()" style="float: right;">
              <span>&times;</span>
          </button>
        </h3>
      </div>
        <div class="controls">
          <div class="controlwrapper">
            <h5>Navigation controls</h5>
            <div class="control">
              <div class="form-group">
                <select name="state-select" id="state-select" class="form-control" onchange="load_list('district')">
                  <option value="-1">---- Select State ----</option>
                  <option value="28">Andhra Pradesh</option>
                </select>
              </div>
              <div class="form-group">
                <select name="district-select" id="district-select" class="form-control" onchange="load_list('subdistrict')">
                  <option value="-1">---- Select District ----</option>
                </select>
              </div>
              <div class="form-group">
                <select name="subdistrict-select" id="subdistrict-select" class="form-control" onchange="load_list('village')">
                  <option value="-1">---- Select Sub District ----</option>
                </select>
              </div>
              <div class="form-group">
                <select name="village-select" id="village-select" class="form-control" onchange="load_list('pin')">
                  <option value="-1">---- Select Village ----</option>
                </select>
              </div>
              <div class="form-group">
                <select name="pin-select" id="pin-select" class="form-control" onchange="geocode()">
                  <option value="-1">---- Select Survey No ----</option>
                </select>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <!-- Page Content -->
  <div id="content">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid" style="padding-left:50px;">
          <button type="button" id="sidebarCollapse" class="btn btn-light" onclick="togglesidebarcollapse()"  style="position: absolute; left: 5px;">
              <span>&#9776;</span>
          </button>
          <div>
            <div id="address_autocomplete_container" class="form-inline">
              <input id="address_autocomplete" class="form-control mr-sm-2" style="max-width:550px; width: calc(100vw - 200px); margin-right: 15px;" type="search" placeholder="Type Something" aria-label="Search">
              <button class="btn btn-outline-success my-2 my-sm-0" onclick="autocomplete_colonies()">&#x1F50D;</button>
              <div id="autocomplete-list" class="autocomplete-items" style="max-width:550px; width: calc(100vw - 200px);"></div>
            </div>
          </div>
        </div>
    </nav>
    <div id="mapCanvas">
    
    </div>
  </div>
</div>

<script>
  window.onload = function (){
    initmap();
  }
  function togglesidebarcollapse(){
    $('#sidebar').toggleClass('active');
    map.invalidateSize();
  }
  var map;
  function initmap(){
    
    // Initialize Map
    map = leaflet_initmap('mapCanvas');

    // Add Basemaps
    var basemaps = leaflet_addbasemaps(map);
    leaflet_add_drawing_tools(map);
    leaflet_addgeolocation(map)
    map.on('click', function (e){
      //clear_search_results();
      if (!(drawmode)){
        handlemapclick(e);
      }
    });
    map.on('moveend', function (e){
      //clear_search_results();
      console.log('Map Zoom Level:', map.getZoom());
    });
    map.on('popupopen', function(e) {  //map leaflet popup adjust
      var px = map.project(e.popup._latlng); // find the pixel location on the map where the popup anchor is
      px.y -= e.popup._container.clientHeight/2 // find the height of the popup container, divide by 2, subtract from the Y axis of marker location
      map.panTo(map.unproject(px),{animate: true}); // pan to new center
    });
    //Get Max tiled size
    var fulltileheight = document.getElementById('mapCanvas').clientHeight;
    var fulltilewidth = document.getElementById('mapCanvas').clientWidth;
    var fulltilesize = (Math.ceil(Math.max(fulltileheight, fulltilewidth) / 10) * 10 );
    console.log(fulltilesize);

    var layers = {};

    district_layer = L.tileLayer.wms(geoserverwmsapi, {
        layers: 'avenue:gis_admin_district',
        format: 'image/png',
        transparent: true,
        //version: '1.1.0',
        attribution: "myattribution",
        //crs: L.CRS.EPSG4326,
        maxNativeZoom: 30,
        minZoom: 7,
        tileSize: 256,
        maxZoom: 30,
        //cql_filter: '1=2',
    }).setZIndex(199).addTo(map);
    layers['district'] = district_layer;

    subdistrict_layer = L.tileLayer.wms(geoserverwmsapi, {
        layers: 'avenue:gis_admin_subdistrict',
        format: 'image/png',
        transparent: true,
        //version: '1.1.0',
        attribution: "myattribution",
        //crs: L.CRS.EPSG4326,
        maxNativeZoom: 30,
        minZoom: 10,
        tileSize: 256,
        maxZoom: 30,
        //cql_filter: '1=2',
    }).setZIndex(198).addTo(map);
    layers['subdistrict'] = subdistrict_layer;

    village_layer = L.tileLayer.wms(geoserverwmsapi, {
        layers: 'avenue:gis_admin_village',
        format: 'image/png',
        transparent: true,
        //version: '1.1.0',
        attribution: "myattribution",
        //crs: L.CRS.EPSG4326,
        maxNativeZoom: 30,
        minZoom: 13,
        tileSize: 256,
        maxZoom: 30,
        //cql_filter: '1=2',
    }).setZIndex(198).addTo(map);
    layers['village'] = village_layer;

    parcel_layer = L.tileLayer.wms(geoserverwmsapi, {
        layers: 'avenue:gis_ap_parcel',
        format: 'image/png',
        transparent: true,
        //version: '1.1.0',
        attribution: "myattribution",
        //crs: L.CRS.EPSG4326,
        maxNativeZoom: 30,
        minZoom: 15,
        tileSize: 256,
        maxZoom: 30,
        //cql_filter: '1=2',
    }).setZIndex(198).addTo(map);
    layers['parcel'] = parcel_layer;

    colony_layer = L.tileLayer.wms(geoserverwmsapi, {
        layers: 'avenue:gis_colonies',
        format: 'image/png',
        transparent: true,
        //version: '1.1.0',
        attribution: "myattribution",
        //crs: L.CRS.EPSG4326,
        maxNativeZoom: 30,
        //minZoom: basemapminzoomlevel,
        tileSize: 512,
        minZoom: 14,
        maxZoom: 30,
        //cql_filter: '1=2',
    }).setZIndex(50).addTo(map);
    layertoidentify = colony_layer._leaflet_id;
    layers['colony'] = colony_layer;

    var gis_amravati_roadline_layer = L.tileLayer.wms(geoserverwmsapi, {
      layers: 'avenue:gis_amravati_roadline',
      format: 'image/png',
      transparent: true,
      version: '1.1.0',
      //crs: L.CRS.EPSG4326,
      tileSize: 1000,
      minZoom: 10,
      maxZoom: 30,
      maxNativeZoom: 30,
      opacity: 1,
      /*// for layer Control
      opacity: 0.9,
      layercontrol: true,
      layername: "Provinces",
      layertheme: "Administrative",*/
    }).setZIndex(150).addTo(map);
    layers['Road Names'] = gis_amravati_roadline_layer;

    var amaravati_roads_extended_layer = L.tileLayer.wms(geoserverwmsapi, {
      layers: 'avenue:gis_amaravati_roads_extended',
      format: 'image/png',
      transparent: true,
      version: '1.1.0',
      //crs: L.CRS.EPSG4326,
      tileSize: 512,
      minZoom: 5,
      maxZoom: 30,
      maxNativeZoom: 30,
      /*// for layer Control
      opacity: 0.9,
      layercontrol: true,
      layername: "Provinces",
      layertheme: "Administrative",*/
    }).setZIndex(98).addTo(map);
    layers['Extended Roads'] = amaravati_roads_extended_layer;

    var gis_amaravati_ringroad_layer = L.tileLayer.wms(geoserverwmsapi, {
      layers: 'avenue:gis_amaravati_ringroad',
      format: 'image/png',
      transparent: true,
      version: '1.1.0',
      //crs: L.CRS.EPSG4326,
      tileSize: 1000,
      minZoom: 10,
      maxZoom: 30,
      maxNativeZoom: 30,
      opacity: 0.8,
      /*// for layer Control
      opacity: 0.9,
      layercontrol: true,
      layername: "Provinces",
      layertheme: "Administrative",*/
    }).setZIndex(150).addTo(map);
    layers['Ring Road'] = gis_amaravati_ringroad_layer;

    drawLayerControl(basemaps, layers);
  }

  //---------- Click Event on Map Start ---------
  var layertoidentify;
  var identifiedfeaturesids = [];
  function toggle_identify_layer(element){
    if(element.leafletid){
      layertoidentify = element.leafletid;
    }
  }
  function handlemapclick(e){
    //console.log(e);
    //if (drawmode == 0){
      //console.log(e.latlng);
      identifyfeatures(e);
      clear_search_results();
    //}
  }
  function clearidentifiedfeatures(){
    if (identifiedfeaturesids.length > 0){
      var i = 0;
      for (i = 0; i < identifiedfeaturesids.length; i++) {
        var identifiedfeature = map._layers[identifiedfeaturesids[i]];
        if (identifiedfeature){
          map.removeLayer(identifiedfeature);
        }
      }
      identifiedfeaturesids = [];
    }
  }
  function identifyfeatures(e){
    clearidentifiedfeatures();
    var layer = map._layers[layertoidentify];
    if (map.hasLayer(layer)){
      try {
        $('#mapCanvas').css({'cursor' : 'wait'});
        //var popLocation= e.latlng;
        var lat = e.latlng.lat;
        var lng = e.latlng.lng;
        //console.log(popLocation);
        //console.log(layer);
        var params = {
          service: 'WMS',
          version: '1.1.0',
          request: 'GetFeatureInfo',
          layers: layer.options.layers,
          query_layers: layer.options.layers,
          feature_count: 10,
          //info_format: 'text/javascript',
          info_format: 'application/json',
          format_options: 'callback:handleJson',
          //propertyName: 'd_name,m_name,v_name,tank_name,open_land_area,crop_land_area',
          SRS: 'EPSG:4326',
          width: 101,
          height: 101,
          x: 50,
          y: 50,
          bbox: (lng - 0.000001) + ',' + (lat - 0.000001) + ',' + (lng + 0.000001) + ',' + (lat + 0.000001)
        }
        $.ajax({
          url: layer._url,
          type: 'GET',
          data: params,
          dataType: 'json',
          success: function(data) {
            handlejson(data);
            console.log(data);
            $('#mapCanvas').css({'cursor' : 'crosshair'});
          }
        });
      }  catch (e) {
        console.log(e);
        $('#mapCanvas').css({'cursor' : 'crosshair'});
      }
      function handlejson(data){
        //console.log(data);
        if (data.features.length > 0) {
          var identifiedFeature =	L.geoJSON(data.features[0], {
            style: {
                "color": "#337ab7",
                "weight": 2,
                "opacity": 0.8,
                "fillOpacity": 0.5,
                "fillColor": '#fff'
            },
            /*coordsToLatLng: function (p) {
                p = proj4(EPSG32644, EPSG4326,p);  // reproject each point
                p = [p[1],p[0]]    // swap the values
                return p;        // return the lat/lng pair
            }*/
          }).addTo(map);
          var props = data.features[0].properties;
          var facing = "";
          if (props.n_face > 0){
            facing = "North";
          }
          if (props.s_face > 0){
            facing = facing + " South";
          }
          if (props.e_face > 0){
            facing = facing + " East";
          }
          if (props.w_face > 0){
            facing = facing + " West";
          }
          let latlng = identifiedFeature.getBounds().getCenter();
          let mark_prop_url = buildUrl( absolutePath('/'), {latlng: [latlng.lat, latlng.lng].toString() } );
          var popuphtml = `
          <div style="background-color: #fff;  border: none;  margin-bottom: 0px; padding:8px;">
            <div><label>Plot No: </label> ${props.plot_no} </div>
            <div><label>Facing :</label> ${ facing }</div>
            <div><label>Dimensions :</label> N:${ props.n_dim } | S:${ props.s_dim } | E:${ props.e_dim } | W:${ props.w_dim }</div>
            <div class="popup-division"></div>
            <div><label>Layout No: </label> ${ props.layout_no }</div>
            <div><label>LP No: </label> ${ props.lp_no }</div>
            <div><label>Survey No: </label> ${ props.survey_no }</div>
            <div><label>Approved Years: </label> ${ props.approved_years }</div>
            <div class="popup-division"></div>
            <div><label>Village: </label> ${ props.village_name }</div>
            <div><label>Mandal: </label> ${ props.mandal_name }</div>
            <div><label>District: </label> ${ props.district_name }</div>
            </br>
              <a href="${mark_prop_url}" target=_blank">
                  <div class="btn btn-primary">
                      Mark Property Here
                  </div>
              </a>
            </br>
          </div>          
          `;
          identifiedFeature.bindPopup(popuphtml).openPopup();
          //map.fitBounds(identifiedFeature.getBounds());
          identifiedfeaturesids.push(identifiedFeature._leaflet_id);
        }
      }
    }
  }
  //---------- Click Event on Map End---------


  // Autocomplete Code
  $('#address_autocomplete').on('keydown', function(e) {
    if (e.which == 13) {
      autocomplete_colonies();
    }
  });
  
  var latlongregex = new RegExp("^-?([1-8]?[1-9]|[1-9]0)\.{1}\d{1,6}");
  function validatelatlng(value){
    if (value.includes(" ")){
      value.replace(',','')
      value = value.split(" ");
    } else if (value.includes(",")){
      value.replace(/ /g,'')
      value = value.split(",");
    } else {
      return false
    }
    var latlngPoint = {
      lat: parseFloat(value[0].replace(/,/g, '')),
      lng: parseFloat(value[1].replace(/,/g, ''))
    }
    if ((latlngPoint.lat < 35) && (latlngPoint.lat > 5) &&  (latlngPoint.lng < 100) && ( latlngPoint.lng > 65)){
      return latlngPoint;
    } else {
      return false
    }
  }

  function autocomplete_colonies(){
    let searchstring = document.getElementById('address_autocomplete').value.trim();
    clear_search_results();

    var validated_latlng = validatelatlng(searchstring);

    if (validated_latlng){
      var latlng = validated_latlng;
      map.flyTo(new L.LatLng(latlng.lat, latlng.lng));
      search_markers['latlng'] = L.marker([latlng.lat, latlng.lng]).addTo(map);    
    } else if (searchstring){

      document.getElementById('autocomplete-list').innerHTML = `
        <div class="listbreak">Searching ....</div>
      `;

      let url = nodejsapi + '/autocomplete-test/';
      //let url = 'http://localhost:9010/autocomplete-test/';
      var params = {
        q : searchstring ,
      }

      try{
        fetch_data(url, params)
        .then(function (data){
          console.log(data);
          autocomplete_list(data);
        });
      } catch (err){
        console.log('Error');
        console.log(err);
        document.getElementById('autocomplete-list').innerHTML = `
          <div class="listbreak"> Zero Results </div>
        `;
      }

    }


  }
  function autocomplete_colonies_a(){
    var searchstring = document.getElementById('address_autocomplete').value;
     var params = {
      requesttype   : 'address',
      searchstring  : searchstring
    }
    //console.log(params);
    var validated_latlng = validatelatlng(searchstring);
    if (validated_latlng){            
      clear_search_results();
      var latlng = validated_latlng;
      map.panTo(new L.LatLng(latlng.lat, latlng.lng));
      search_markers['latlng'] = L.marker([latlng.lat, latlng.lng]).addTo(map);        
    } else if (searchstring.trim()){
      fetch_data(autocompleteSearchApi, params)
      .then(_callback)
    } else {
      clear_search_results(1);
    }
    function _callback(data, params){
      
    }
    //console.log('autocomplete_colonies');
  }

  function autocomplete_list(data){
    var list_container = document.getElementById('autocomplete-list');
    document.getElementById('autocomplete-list').innerHTML = `
      <div class="listbreak"> Zero Results </div>
    `;

    if ( !(data.search_results) ){
      return false;
    }

    let res = data.search_results;

    var listhtml = '';
    // plots list
    if (res.plots){
      if (res.plots.length){
        var plots_list = `
          <div class="listbreak"> Plots in Colonies </div>
        `;
        for (i = 0; i < res.plots.length; i++) {
          var props = res.plots[i];
          console.log(props);
          plots_list += `
            <div geometry='${props.geometry}' onclick="load_autocomplete_item(this)" type="colonies">
              Plot No: ${props.plot_no}, LP No: ${props.lp_no}, ${props.village_name}, ${props.mandal_name}, ${props.district_name}
            </div>
          `;
        }
        listhtml += plots_list ;
      }
    }

    if (res.parcels){
      if (res.parcels.length){
        var parcels_list = `
          <div class="listbreak"> Cadastral Parcels </div>
        `;
        for (i = 0; i < res.parcels.length; i++) {
          var props = res.parcels[i];
          console.log(props);
          parcels_list += `
            <div wktgeometry='${props.point}' onclick="load_autocomplete_item(this)" type="cadastral">
              Survey No: ${props.pin}, ${props.vil_name}, ${props.subdis_name}, ${props.dis_name}
            </div>
          `;
        }
        listhtml += parcels_list ;
      }
    }

    if (res.village){
      if (res.village.length){
        var village_list = `
          <div class="listbreak"> Villages </div>
        `;
        for (i = 0; i < res.village.length; i++) {
          var props = res.village[i];
          console.log(props);
          village_list += `
            <div geometry='${props.geometry}' onclick="load_autocomplete_item(this)" type="village">
              ${props.vil_name}, ${props.subdis_name}, ${props.dis_name}
            </div>
          `;
        }
        listhtml += village_list ;
      }
    }

    if (res.subdistrict){
      if (res.subdistrict.length){
        var subdistrict_list = `
          <div class="listbreak"> Subdistrict </div>
        `;
        for (i = 0; i < res.subdistrict.length; i++) {
          var props = res.subdistrict[i];
          console.log(props);
          subdistrict_list += `
            <div geometry='${props.geometry}' onclick="load_autocomplete_item(this)" type="subdistrict">
              ${props.subdis_name}, ${props.dis_name}
            </div>
          `;
        }
        listhtml += subdistrict_list ;
      }
    }

    if (res.district){
      if (res.district.length){
        var district_list = `
          <div class="listbreak"> district </div>
        `;
        for (i = 0; i < res.district.length; i++) {
          var props = res.district[i];
          console.log(props);
          district_list += `
            <div geometry='${props.geometry}' onclick="load_autocomplete_item(this)" type="subdistrict">
              ${props.dis_name}
            </div>
          `;
        }
        listhtml += district_list ;
      }
    }      
    

    list_container.innerHTML = listhtml;
    list_container.style.width =  document.getElementById('address_autocomplete').offsetWidth + 'px';
  }

  function autocomplete_list_a(data){
    //console.log(data);
    //$('#autocomplete-list').remove();
    document.getElementById('autocomplete-list').innerHTML = `
      <div class="listbreak"> Zero Results </div>
    `;
    /*var plots = data[0];
    var pins = data[1];
    var villages = data[2];
    var districts = data[3];*/
    /*create a DIV element that will contain the items (values):*/
    /*container = document.createElement("DIV");
    //container.setAttribute("id", "autocomplete-list");
    container.setAttribute("class", "autocomplete-items");
    container.style.width = $('#address_autocomplete').outerWidth() + 'px';
    // Check if no results and append results
    if (!((plots.length) || (pins.length) || (villages.length) || (districts.length))){
      var item = document.createElement("DIV");
      item.classList.add("listbreak");
      item.innerHTML = "Sorry No Results Found !";
      container.append(item);
    }
    // Append Plots
    if (plots.length){
      var item = document.createElement("DIV");
      item.classList.add("listbreak");
      item.innerHTML = "Plots in Colonies";
      container.append(item);
      for (i in plots){
        var row = plots[i];
        var item = document.createElement("DIV");
        item.setAttribute("onclick", "load_autocomplete_item(this)");
        item.setAttribute("geometry", row.geometry);
        item.innerHTML = "Plot No: " + row.plot_no + ", LP No: " + row.lpno + ", District: " + row.d_name + "";
        container.append(item);
      }
    }
    // Append Pins
    if (pins.length){
      var item = document.createElement("DIV");
      item.classList.add("listbreak");
      item.innerHTML = "Survey Nos / Parcels";
      container.append(item);
      for (i in pins){
        var row = pins[i];
        var item = document.createElement("DIV");
        item.setAttribute("onclick", "load_autocomplete_item(this)");
        item.setAttribute("geometry", row.geometry);
        item.innerHTML = "Sy.no: " + row.pin + ", Village: " + row.vil_name + ", Mandal : " + row.subdis_name + ", District: " + row.dis_name + "";
        container.append(item);
      }
    }
    // Append villages
    if (villages.length){
      var item = document.createElement("DIV");
      item.classList.add("listbreak");
      item.innerHTML = "Villages";
      container.append(item);
      for (i in villages){
        var row = villages[i];
        var item = document.createElement("DIV");
        item.setAttribute("onclick", "load_autocomplete_item(this)");
        item.setAttribute("geometry", row.bbox);
        item.innerHTML = "Village: " + row.vil_name + ", Mandal : " + row.subdis_name + ", District: " + row.dis_name + "";
        container.append(item);
      }
    }
    // Append Districts
    if (districts.length){
      var item = document.createElement("DIV");
      item.classList.add("listbreak");
        item.innerHTML = "Districts";
        container.append(item);
        for (i in districts){
          var row = districts[i];
          var item = document.createElement("DIV");
          item.setAttribute("onclick", "load_autocomplete_item(this)");
          item.setAttribute("geometry", row.bbox);
          item.innerHTML = "District: " + row.dname + "";
          container.append(item);
        }
      }*/
      document.getElementById('autocomplete-list').innerHTML = container.innerHTML;
      //$('#address_autocomplete_container').append(container);
  }

  /*function load_autocomplete_item(el){
    clear_search_results();
    var geometry = $(el).attr('geometry').split(' ');
    geometry[0] = geometry[0].replace('POINT(', '');
    geometry[1] = geometry[1].replace(')', '');
    var marker = L.marker([geometry[1], geometry[0]]).addTo(map);
    search_markers[marker._leaflet_id] = marker;
    if (map.getZoom() < 18){
      map.setView([geometry[1], geometry[0]], 18);
    } else {
      map.setView([geometry[1], geometry[0]]);
    }
  }
  search_markers = {};
  function clear_search_results(){
    $('#autocomplete-list').remove();
    $('#address_autocomplete').val('');
    for (i in search_markers){
      if (map.hasLayer(search_markers[i])){
        map.removeLayer(search_markers[i]);
      }
    }
    search_markers = {};
  }*/

  function load_autocomplete_item_a(el){
    console.log(el);
    clear_search_results();
    var geometry = $(el).attr('geometry');
    var type = geometry.split('(')[0];
    //console.log(el);
    if (type == 'POINT'){
      geometry = geometry.split('(')[1].split(')')[0].split(' ');
      var marker = L.marker([geometry[1], geometry[0]]).addTo(map);
      let mark_prop_url = buildUrl( absolutePath('/'), {latlng: [geometry[1], geometry[0]].toString() } );
      let popup_html = `
        <div>
          </br>
            <a href="${mark_prop_url}" target=_blank">
                <div class="btn btn-primary">
                    Mark Property Here
                </div>
            </a>
          </br>
        </div>
      `;
      marker.setPopup(popup_html).openPopup();
      search_markers[marker._leaflet_id] = marker;
      if (map.getZoom() < 18){
        map.setView([geometry[1], geometry[0]], 18);
      } else {
        map.setView([geometry[1], geometry[0]]);
      }
    } else if (type == 'POLYGON'){
      geometry = geometry.split('((')[1].split('))')[0].split(',');
      var sw = geometry[0].split(' ');
      var ne = geometry[2].split(' ');
      map.fitBounds([[sw[1], sw[0]],
                     [ne[1], ne[0]]]);//, maxZoom=18);
    }
  }

  function load_autocomplete_item(el){
    console.log(el);
    clear_search_results();
    let geometry = $(el).attr('geometry');      
    let wkt_geometry = $(el).attr('wktgeometry');
    if (geometry){
      geometry = JSON.parse(geometry);
      let search_layer = L.geoJSON(
        geometry,
      ).addTo(map);
      console.log(search_layer);
      let latlng = search_layer.getBounds().getCenter();
      let mark_prop_url = buildUrl( absolutePath('/'), {latlng: [latlng.lat, latlng.lng].toString() } );
      let popup_html = `
        <div>
          </br>
            <a href="${mark_prop_url}" target=_blank">
                <div class="btn btn-primary">
                    Mark Property Here
                </div>
            </a>
          </br>
        </div>
      `;
      search_layer.eachLayer(function(layer) {
        layer.bindPopup(popup_html).openPopup();
      });
      map.flyToBounds(search_layer.getBounds(), 17); 
      search_layers.push(search_layer);
      return false;
    } else if (wkt_geometry){
             
      let type = wkt_geometry.split('(')[0];
      //console.log(el);
      if (type == 'POINT'){
        geometry = wkt_geometry.split('(')[1].split(')')[0].split(' ');
        var marker = L.marker([geometry[1], geometry[0]]).addTo(map);
        let mark_prop_url = buildUrl( absolutePath('/'), {latlng: [geometry[1], geometry[0]].toString() } );
        let popup_html = `
          <div>
            </br>
              <a href="${mark_prop_url}" target=_blank">
                  <div class="btn btn-primary">
                      Mark Property Here
                  </div>
              </a>
            </br>
          </div>
        `;
        marker.setPopup(popup_html).openPopup();
        search_layers.push(marker);
        if (map.getZoom() < 18){
          map.flyTo([geometry[1], geometry[0]], 18);
        } else {
          map.flyTo([geometry[1], geometry[0]]);
        }
      } else if (type == 'POLYGON'){
        geometry = wkt_geometry.split('((')[1].split('))')[0].split(',');
        var sw = geometry[0].split(' ');
        var ne = geometry[2].split(' ');
        map.flyToBounds([[sw[1], sw[0]],
                      [ne[1], ne[0]]]);//, maxZoom=18);
      }

    }
  }

  search_layers = [];
  function clear_search_results(x=0){
    if (x){
      document.getElementById('address_autocomplete').value = '';
    }
    document.getElementById('autocomplete-list').innerHTML = '';
    for (var i = 0; i < search_layers.length; i++){
      let lyr = search_layers[i];
      if (map.hasLayer(lyr)){
        map.removeLayer(lyr);
      }
    }
    search_layers = [];
    return false;
  }
  // Autocomplete Code Ends


  //List Loading Code Starts
  function load_vars(){
    var data = {
      sta_code : $('#state-select').val(),
      dis_code : $('#district-select').val(),
      subdis_code : $('#subdistrict-select').val(),
      vil_code : $('#village-select').val(),
      pin : $('#pin-select').val(),
    }
    return data;
  }

  function load_list(listtype){
    // Clear List
    if (listtype == 'district'){
      $('#district-select').html('<option value="-1">---- Select District ----</option>');
      $('#subdistrict-select').html('<option value="-1">---- Select Sub District ----</option>');
      $('#village-select').html('<option value="-1">---- Select Village ----</option>');
      $('#pin-select').html('<option value="-1">---- Select Survey No ----</option>');
    } else if (listtype == 'subdistrict'){
      $('#subdistrict-select').html('<option value="-1">---- Select Sub District ----</option>');
      $('#village-select').html('<option value="-1">---- Select Village ----</option>');
      $('#pin-select').html('<option value="-1">---- Select Survey No ----</option>');
    } else if (listtype == 'village'){
      $('#village-select').html('<option value="-1">---- Select Village ----</option>');
      $('#pin-select').html('<option value="-1">---- Select Survey No ----</option>');
    } else if (listtype == 'pin'){
      $('#pin-select').html('<option value="-1">---- Select Survey No ----</option>');
    }
    // Get List Data
    var params = load_vars();
    params['requesttype'] = 'getlist';
    params['listtype'] = listtype;
    $('#geocode-btn').prop('disabled', true);
    fetch_data(listApi, params)
    .then(function(data){
      handlelistdata(data, params);
    });
    // Handle List Data
    function handlelistdata(data, params){
      $('#geocode-btn').prop('disabled', false);
      if (!(data.listdata)){
        return false;
      }
      if(data.bboxdata){
        console.log(data.bboxdata)
        fittobounds(data.bboxdata[0]);
      }
      var listtype = params.listtype;
      // Create List
      var select = '#' + listtype + '-select';
      //console.log(params);
      if ((listtype == 'district') || (listtype == 'subdistrict') || (listtype == 'village')){
        var i = 0;
        while (i < data.listdata.length){
          var entity = data.listdata[i];
          if ((entity.code) && (entity.name)){
            if ((entity.code.trim()) && (entity.name.trim())){
              var option = document.createElement("option");
              option.innerHTML = entity.name.trim();
              option.value = entity.code.trim();
              $(select).append(option);
            }
          }
          i++;
        }
      } else if (listtype == 'pin'){
        var i = 0;
        while (i < data.listdata.length){
          var entity = data.listdata[i];
          if (entity.pin){
            if (entity.pin.trim()){
              var option = document.createElement("option");
              option.innerHTML = entity.pin.trim();
              option.value = entity.pin.trim();
              $(select).append(option);
            }
          }
          i++;
        }
      }
      // Sort list
      $(select).html($(select).find('option').sort(function(x, y) {
        // to change to descending order switch "<" for ">"
        return $(x).text() > $(y).text() ? 1 : -1;
      }));
      $(select).val('-1');
      // Append list
      //$('#'+listtype+'-select').html( = $('#'+listtype+'-select').html( + listhtml;
    }
  }
  function geocode(){
    // Get List Data
    var params = load_vars();
    params['requesttype'] = 'geocode';
    fetch_data(listApi, params)
    .then(function (data){
      if(data.listdata[0].bbox){
        var bbox = data.listdata[0].bbox;
        var bbox = bbox.slice(4).slice(0, -1);
        bbox = bbox.replace(/,/g, " ").split(" ");
        map.fitBounds([
            [bbox[1], bbox[0]],
            [bbox[3], bbox[2]]
        ], {maxZoom : 20});
      }
      if (data.listdata[0].point){
        let geojson = JSON.parse(data.listdata[0].point);
        let marker = L.geoJSON(
          geojson,
        ).addTo(map);
        let latlng = marker.getBounds().getCenter();
        let mark_prop_url = buildUrl( absolutePath('/'), {latlng: [latlng.lat, latlng.lng].toString() } );
        let popup_html = `
          <div>
            </br>
              <a href="${mark_prop_url}" target=_blank">
                  <div class="btn btn-primary">
                      Mark Property Here
                  </div>
              </a>
            </br>
          </div>
        `;
        marker.eachLayer(function(layer) {
          layer.bindPopup(popup_html).openPopup();
        });
        search_layers.push(marker);
      }
    })
  }

  //List Loading Code Ends
</script>
{% endblock %}