{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'vendor-assets/ol/ol-v5.3.0/ol.css' %}">
<script src="{% static 'vendor-assets/ol/ol-v5.3.0/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'vendor-assets/ol/ol-layerswitcher/ol-layerswitcher.css' %}">
<script src="{% static 'vendor-assets/ol/ol-layerswitcher/ol-layerswitcher.js' %}"></script>
<script src="{% static 'vendor-assets/ol/style/mapbox-streets-v6-style.js' %}"></script>
<script src="{% static 'vendor-assets/turf/turf.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/map.css' %}">
<script type="text/javascript" src="{% static 'js/map.js' %}"></script>
{% endblock %}

{% block pagetitle %}
    <input id="searchTextbox" type="text" class="form-control" placeholder=" lat,lng or Search ... " style="padding: 0; margin:0; max-width: calc(100% - 130px);" onkeyup="javascript:search(event, this)">
{% endblock %}


{% block content %}
<div id="MapCanvas">
</div>

<div class="hr-line"></div>
<div id="mouse-position" style="display: none;">
</div>

<div style="display: none;">
    <form class="form-inline">
        <label>Geometry type &nbsp;</label>
        <select id="type">
            <option value="Point">Point</option>
            <option value="LineString">LineString</option>
            <option value="Polygon">Polygon</option>
            <option value="Circle">Circle</option>
            <option value="None">None</option>
        </select>
    </form>

    <!--<label for="track">
        track position
        <input id="track" type="checkbox"/>
      </label>
      <p>
        position accuracy : <code id="accuracy"></code>&nbsp;&nbsp;
        altitude : <code id="altitude"></code>&nbsp;&nbsp;
        altitude accuracy : <code id="altitudeAccuracy"></code>&nbsp;&nbsp;
        heading : <code id="heading"></code>&nbsp;&nbsp;
        speed : <code id="speed"></code>
      </p>-->
</div>

<div style="display: none;">
    <button onclick="clear_last_Feature()"> Clear Last </button>
    &nbsp;&nbsp;&nbsp;
    <button onclick="clear_all()"> Clear All </button>
    &nbsp;&nbsp;&nbsp;
    <button onclick="validate_geometry()"> Validate Geometry </button>
    &nbsp;
    <button onclick="saveproperty()"> Save Property</button>
</div>

<div class="container-fluid" style="padding: 20px 5% ">
    <div class="input-group">
        <div class="input-group-append dropup">
            <button type="button" class="btn btn-outline-secondary dropdown-toggle dropdown-toggle-split" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <span class="sr-only">Toggle Dropdown</span>Menu
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#" onclick="clear_last_Feature()">Clear Last Feature</a>
                <a class="dropdown-item" href="#" onclick="clear_all()">Clear All</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="validate_geometry()">Validate Geometry</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#">
                    <label class="form-check-label">
                        <input id="track-gps-location" type="checkbox" class="form-check-input">
                        Track GPS
                    </label>                
                </a>
                <a class="dropdown-item" href="#" onclick="zoom_to_gps_location()">GPS Location</a>
                <div role="separator" class="dropdown-divider"></div>
                <a class="dropdown-item" href="#" onclick="shareThisPage()">Share</a>
            </div>
        </div>
        <input id="fieldremarks" type="text" class="form-control" placeholder="Fieldremarks here...">
        <div class="input-group-append">
            <button class="btn btn-outline-secondary" type="button" onclick="saveproperty()">Save</button>
        </div>
    </div>
</div>

<script>

    function latlng_from_url(latlng){

    }

    function go_to_latlng(q){
        
        console.log(q);
        // Check if q is lat long
        var latlng = q.split(',');
        if (latlng.length < 2){
            latlng = q.split(' ');
        }

        if (latlng.length > 1){
            let lat = Number(latlng[0]);
            let lng = Number(latlng[1]);    
            if ((lat) && (lng)){
                /*let marker = L.marker([lat, lng]).addTo(map);
                map.flyToBounds(marker.getBounds(), 16); 
                */       
                let marker = new ol.Feature({
                    type: 'icon',
                    geometry: new ol.geom.Point(ol.proj.transform([lng, lat], 'EPSG:4326', 'EPSG:3857'))
                });
                let markerlayer = new ol.layer.Vector({
                    source: new ol.source.Vector({
                    features: [marker]
                    })
                    /*style: function(feature) {
                    // hide geoMarker if animation is active
                    if (animating && feature.get('type') === 'geoMarker') {
                        return null;
                    }
                    return styles[feature.get('type')];
                    }*/
                });
                map.addLayer(markerlayer);
                
                let location = ol.proj.fromLonLat([lng, lat]);
                flyTo(location, function(){});
                console.log(markerlayer);
                return false;
            }
        }

        function flyTo(location, done) {
            var view = map.getView();
            var duration = 2000;
            var zoom = 16;//view.getZoom();
            var parts = 2;
            var called = false;
            function callback(complete) {
                --parts;
                if (called) {
                    return;
                }
                if (parts === 0 || !complete) {
                    called = true;
                    done(complete);
                }
            }
            view.animate({
                center: location,
                duration: duration
            }, callback);
            view.animate({
                zoom: zoom - 1,
                duration: duration / 2
            }, {
                zoom: zoom,
                duration: duration / 2
            }, callback);
        }

    }

    function search(e, elem){

        var code = (e.keyCode ? e.keyCode : e.which);
        if(!(code == 13)) { //Enter keycode
            return false;
        }

        let q = document.getElementById('searchTextbox').value.trim();

        if (!(q)){
            return false;
        }

        go_to_latlng(q);

        // Hit Autocomplete search API
        console.log(q)
    }

</script>
{% endblock %}