{% extends 'base.html' %}
{% load static %}

{% block head %}
<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.css"/>
 
<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.18/datatables.min.js"></script>
{% endblock %}

{% block content %}

<div class="container-fluid" style="padding: 20px 5%; ">
    <table id="my-properties" class="table table-striped table-bordered display">
        <thead>
            <tr>
                <th>Property ID</th>
                <th>Added on</th>
                <th>Field Remarks</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for r in my_properties %}
            <tr>
                <td><a href="/?propid={{ r.propid }}">{{ r.propid }}</a></td>
                <td>{{ r.addedon }}</td>
                <td>{{ r.fieldremarks }}</td>
                <td><a href="javascript:share_property('{{ r.propid }}')">Share</a>&nbsp;&nbsp;&nbsp;<a href="javascript:delete_property({{ r.propid }})">Delete</a></td>
            </tr> 
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    $(document).ready( function () {
        $('#my-properties').DataTable({
            "columnDefs": [
                { "targets": [0, 1, 2], "orderable": true }
            ]
        });
    });

    function _callback(){
        location.reload();
    }

    function delete_property(propid){
        var cnf = confirm(`Do you really want to delete property: ${propid}`);
        if (cnf == true){
            params = {
                'url' : delete_property_api,
                'data' : {
                    "propid" : propid
                },
                'callback' : _callback
            }
            hitPostApi(params);

        } else {
            
        }
    }

    function share_property(propid){
        var relative_url = `/?propid=${propid}`;
        var absolute_url = absolutePath((relative_url));
        shareThis(absolute_url);
    }

    var absolutePath = function(href) {
        var link = document.createElement("a");
        link.href = href;
        return link.href;
    }

</script>

{% endblock %}