{% extends 'base.html' %}
{% load static %}


{% block head %}
<link rel="stylesheet" href="{% static 'vendor-assets/ol/ol-v5.3.0/ol.css' %}">
<script src="{% static 'vendor-assets/ol/ol-v5.3.0/ol.js' %}"></script>
<link rel="stylesheet" href="{% static 'vendor-assets/ol/ol-layerswitcher/ol-layerswitcher.css' %}">
<script src="{% static 'vendor-assets/ol/ol-layerswitcher/ol-layerswitcher.js' %}"></script>
<script src="{% static 'vendor-assets/ol/style/mapbox-streets-v6-style.js' %}"></script>
<script src="{% static 'vendor-assets/turf/turf.min.js' %}"></script>

<link rel="stylesheet" href="{% static 'css/map.css' %}">
<script type="text/javascript" src="{% static 'js/public-map.js' %}"></script>
{% endblock %}

{% block pagetitle %}
<div style="color: #2cc4db;" >
  Property Map
</div>
{% endblock %}

{% block content %}
<div id="MapCanvas" style="height: calc(100% - 20px);">

</div>

<div class="hr-line"></div>
<div id="mouse-position" style="display: none;">
</div>

<script>

</script>
{% endblock %}