

{% load static %}

<link rel="stylesheet" href="{% static 'vendor-assets/leaflet/leaflet/leaflet.css' %}"/>
<script src="{% static 'vendor-assets/leaflet/leaflet/leaflet.js' %}"></script>

<link rel="stylesheet" href="{% static 'vendor-assets/leaflet/leaflet.draw/leaflet.draw.css' %}">
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/Leaflet.draw.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/Leaflet.Draw.Event.js' %}"></script>

<script src="{% static 'vendor-assets/leaflet/leaflet.draw/Toolbar.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/Tooltip.js' %}"></script>

<script src="{% static 'vendor-assets/leaflet/leaflet.draw/ext/GeometryUtil.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/ext/LatLngUtil.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/ext/LineUtil.Intersect.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/ext/Polygon.Intersect.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/ext/Polyline.Intersect.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/ext/TouchEvents.js' %}"></script>

<script src="{% static 'vendor-assets/leaflet/leaflet.draw/draw/DrawToolbar.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/draw/handler/Draw.Feature.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/draw/handler/Draw.SimpleShape.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/draw/handler/Draw.Polyline.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/draw/handler/Draw.Marker.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/draw/handler/Draw.Circle.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/draw/handler/Draw.CircleMarker.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/draw/handler/Draw.Polygon.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/draw/handler/Draw.Rectangle.js' %}"></script>


<script src="{% static 'vendor-assets/leaflet/leaflet.draw/edit/EditToolbar.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/edit/handler/EditToolbar.Edit.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/edit/handler/EditToolbar.Delete.js' %}"></script>

<script src="{% static 'vendor-assets/leaflet/leaflet.draw/Control.Draw.js' %}"></script>

<script src="{% static 'vendor-assets/leaflet/leaflet.draw/edit/handler/Edit.Poly.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/edit/handler/Edit.SimpleShape.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/edit/handler/Edit.Rectangle.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/edit/handler/Edit.Marker.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/edit/handler/Edit.CircleMarker.js' %}"></script>
<script src="{% static 'vendor-assets/leaflet/leaflet.draw/edit/handler/Edit.Circle.js' %}"></script>

