body{
    margin: 0;
    padding: 0;
}

a label{
    cursor: unset;
}


div.app-container {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#app-content{
    padding : 0;
    margin: 0;
}

.hr-line{
    border: solid 2px #2cc4db;
}

.google-login{
    text-decoration: none;
    padding: 20px;
    border: solid 2px #b3f5ff;
    background: #f7fbff;
}

.google-login:hover {
    scale: 1.07;
    border: solid 2px #2cc4db;
    background: #e2eefa;
    text-decoration: none !important;
}

