{% extends 'base.html' %}
{% load static %}

{% block head %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row" style="margin-top: 100px;">
        <a class="google-login btn btn-default" style="margin-left: auto; margin-right: auto;" class="btn btn-large waves-effect waves-light white deep-purple-text accent-1 login-submit" href="{% url 'social:begin' 'google-oauth2' %}">
            <img class="login-submit__icon" alt="Google &quot;G&quot; Logo" src="{% static 'images/google_logo.svg' %}" />
            <div>
                Login with Google
            </div>
        </a>
    </div>
</div>
{% endblock %}