#app-content{
    height: calc(100% - 62px);
}

#zoomToGps{
    right: .5em;
    top: 7em;
}

.ol-attribution{
    display: none;
}

#MapCanvas {
    margin: 2px 0;
    height: calc(100% - 100px);
}

#mouse-position {
    padding: 10px;
}